h1 {
  @include rem(100);
  font-family: $font-family-headline;
  letter-spacing: .1em;
  text-transform: uppercase;
  .h3 {
    font-family: $font-family-headline;
    font-weight: 400;
  }
  @include media-breakpoint-down(md) {
    @include rem(75);
  }
}

h2,
.h2 {
  @include rem(50);
  font-family: $font-family-headline;
  letter-spacing: .2em;
  text-transform: uppercase;
  @include media-breakpoint-down(lg) {
    @include rem(35);
  }
}

h3,
.h3 { // subhead 1
  @include rem(25);
  font-family: $font-family-headline;
  letter-spacing: .2em;
  text-transform: uppercase;
}

h4 {
  font-family: $font-family-headline;
}

p {
  @include body;
  &.primary {
    @include body(primary);
  }
  &.secondary {
    @include body(secondary);
  }
  &.tertiary {
    @include body(tertiary);
  }
}

// seven body styles
// body 1
// Gotham Book 25pt/35pt
// 100 spacing

body,
body .body-container  {
  .body-1 {
    // body 1
    // Gotham Book 25pt/35pt
    // 100 spacing
    @include body-copy(25, (35/25), $font-family-body, 400, normal, .1em);
    margin-bottom: 3.124rem;
  }
  // body 2
  // Gotham Book 15/25pt
  // 100 spacing
  .body-2 {
    @include body-copy(15, (15/25), $font-family-body, 400, normal, .1em);
  }
  //body 3
  // Gotham Bold 25pt
  .body-3 {
    @include body-copy(25, (15/25), $font-family-body, 800);
  }
  //body 4
  // Gotham Book 18pt
  // 100 spacing
  .body-4 {
    @include body-copy(18, 1.25, $font-family-body, 400, normal, .1em);
  }
  p.body-4 {
    margin-bottom: 2rem;
  }
  // body 5
  // Gotham bold 18pt
  .body-5 {
    @include body-copy(18, 1.25, $font-family-body, 800, normal, .1em);
  }
  p.body-5 {
    margin-bottom: 2rem;
  }
  // Body 6
  // Pressura regular 15pt 100 spacing
  .body-6 {
    @include body-copy(15, 1.25, $font-family-headline, 400, normal, .1em);
  }
  // Body 7
  // Pressura regular 10pt 100 spacing
  .body-6 {
    @include body-copy(10, 1.25, $font-family-headline, 400, normal, .1em);
  }

}


// primary cta
a.btn-primary {
  @include rem(25);
  font: {
    family: $font-family-body;
    style: normal;
    weight: 400;
  }
  text-transform: uppercase;
  letter-spacing: .2em;
}


// fonts:
@font-face {
  font-family: "GT Pressura Bold";
  src: url('../fonts/GT-Pressura-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GT-Pressura-Bold?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GT-Pressura-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GT-Pressura-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: "GT Pressura Regular";
  src: url('../fonts/GT-Pressura-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GT-Pressura-Regular?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GT-Pressura-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GT-Pressura-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
